.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #373737;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.child {
  margin: 5px;
  height: 40px;
  width: 40px;
  background-color: #464646;
  border-radius: 50%;
}

.childOn {
  margin: 5px;
  height: 40px;
  width: 40px;
  background-color: #58ffff;
  border-radius: 50%;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}